header {
  background-color: #325833cf;
  color: white;
  padding: 1em 0;
  text-align: center;
}


header p {
  margin: 0.5em 0 0;
}

.contact p {
  margin: 0.2em 0;
}

.contact a {
  color: white;
  text-decoration: none;
}



a {
  color: #325833;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}



body {
  margin: 0;
  padding: 0 2em;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

img {
  width: 40em;
  max-width: 40%;
  width: 20em;
  max-width: 80%;
  height: auto;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2em 0;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}